.initial-characters, .possibleEnemy, .mainCharacter, .defender, #mainCharacter, #defender{
  width: 115px;
  height: 115px;
  border: 2px solid green;
  float: left;
}

.characterImage{
  width: 75px;
  height: 75px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

p{
  margin: 0;
}

h1,h2 {
  margin: 5px;
}
